
.preview{
    font-family:Comfortaa;
    font-size:44px;
    background-color: #84befe ;
    height:360px;
    width: 700px;
    position: relative;
    bottom: 240px;
    left:200px;
}

.whole{
    background-color: #cbe5ff;
    margin: auto;
    width: 900px;
    border: 40px #cbe5ff;
    padding:40px;
}

div
{font-family:arial; width: 900px;}

.box{
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 10px;
    position: relative;
    left: 10px;
    z-index: 1;
}

.nav a{
    float:left;
	text-decoration:none;
	color:white;
	width:159px;
	background-color: #84befe;
	border-right:1px solid white;
	padding: 10px;
	position: relative;
	text-align:center;
	bottom: 220px;
}
.rect{
    color: #cbe5ff;
    border: dashed;
    width: 30px;
    height: 150px;
    position: fixed;
    top: 200px;
    right: -5px;
}

.mid{
    background-color: white;
    width: 900px;
    height: 900px;
    position: relative;
    bottom: 180px;
}
a:hover{
    color: #cbe5ff;
    background-color: white;
}
.last{
    height: 225px;
    width:885px;
    position:relative;
    padding: 10px;
    background-color: white;
    bottom: 155px;
}
.left{
    background-color: white;
    border-style:dashed;
    width: 420px;
    height: 200px;
    border-color:#84befe;
    padding: 5px;
}
.left-head{
    background-color:#84befe;
    float: left;
    height:50px;
    width:415px;
}
.right{
    background-color: white;
    height: 200px;
    width: 435px;
    border-color:  #84befe;
    border-style:dashed;
    padding: 5px;
    float: right;
    position: relative;
    bottom: 215px;
}
.right-head{
    background-color:#84befe;
    height:50px;
    width:425px;
    float:right;
}
.footer{
    color: #84befe;
    position: relative;
    bottom: 140px;
    left: 700px;
}